
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Abel", sans-serif;
}

header
{
    background-color: #c16fc579;
    display: flex;
    gap: 20px;
    grid-gap: 20px;
}

.logo
{
    width: 100px;
}

.navbar{
    display: flex;
    align-items: center;
}
.menu
{
    display: flex;
    list-style-type: none;
    gap: 10px;
    grid-gap: 10px;
    
}
.menu__item a 
{
    color: azure;
    text-decoration: none;
}

.menu__item.active a
{
    text-decoration: underline;
}

.imagenprincipal
{
    background-image: url("../IMG/paisaje.jpg");
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 200PX;
}

.imagenprincipal h2
{
    color: beige;
    background-color: #0000ff7c;
    padding-inline: 15px;
    
}

.imagenprincipal p
{
    color: #f5f5dcb4;
    text-align: center;
    background-color: #1341ad9d;
}

.tarjetitas
{
    display: flex;
    padding: 60px;
    gap:30px
}
.tarjetita
{
    background-color:#c16fc579;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.informacion
{
    padding:0 20px 20px 20px;
}


.tarjetita__imagen
{
    max-width: 100%px;
}
.tarjetita.tarjetitauno
{
    width: 200px;
    flex: 1;
}
.tarjetita.tarjetitados
{
    width:500px;
    flex: 1;
}
.tarjetita.tarjetitatres
{
    width: 900px;
    flex: 1;
}

.pie
{
    background-color: #cc90c69d;
    color: rgb(11, 11, 11);
    text-align: center;
}